
@{
    ViewData["Title"] = "SearchCodbar";
}

@model DisplayInitial

<div class="container-fluid">
    <br />
    <h5 class="text-center"><span class="glyphicon glyphicon-barcode"></span>&nbsp; @Model.Codbar</h5>
    <br />
    <br />
    <div class="row border-grid">
        <div class="col-xs-6"><h5 class="text-right"><b>Garrón: </b></h5></div>
        <div class="col-xs-6"><h5 class="text-left">@Model.repository.GarronNro</h5></div>
    </div>
    <div class="row border-grid">
        <div class="col-xs-6"><h5 class="text-right"><b>Tropa: </b></h5></div>
        <div class="col-xs-6"><h5 class="text-left">@Model.repository.TropaNro</h5></div>
    </div>
    <div class="row border-grid">
        <div class="col-xs-6"><h5 class="text-right"><b>Raza: </b></h5></div>
        <div class="col-xs-6"><h5 class="text-left">@Model.repository.Calificacion</h5></div>
    </div>
    <div class="row">
        <br />
        <br />
        <form>
            <input asp-action="SaveMarmoreo" type="hidden" name="garronID" value="@Model.repository.GarronId" />
            <input asp-action="SaveMarmoreo" class="btn btn-success submit-btn" type="submit" name="marmoreoApto" value="Apto" />
            <input asp-action="SaveMarmoreo" class="btn btn-danger submit-btn" type="submit" name="marmoreoApto" value="No Apto" />
        </form>
    </div>
    @Html.Partial("_NetworkStatus", Model);
</div>


